@model List<HarrowCard>
@{
	ViewData["Title"] = "Index";
}

<header id="header" style="margin-bottom: 50px">
	<a asp-controller="HarrowDeck" asp-action="Index" class="logo"><strong>Pathfinder Harrow Deck</strong></a>
</header>


<h2>Strength</h2>
<div class="box alt sector">
	<div class="row gtr-50 gtr-uniform">
		@foreach (var item in Model.Where(e => e.Suite == "Strength"))
		{	
		<div class="col-4" style="margin-bottom: 10px">
			<a class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@item.Name">
				<h3>@item.Name</h3>
				<hr style="margin-top: 5px; margin-bottom: 10px" />
				<h5 class="alignment">@item.Alignment</h5>
				<div>
					@item.Description
				</div>
			</a>
		</div>
		}
	</div>
</div>

<h2>Dexterity</h2>
<div class="box alt sector">
	<div class="row gtr-50 gtr-uniform">
		@foreach (var item in Model.Where(e => e.Suite == "Dexterity"))
		{
			<div class="col-4" style="margin-bottom: 10px">
				<a class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@item.Name">
					<h3>@item.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@item.Alignment</h5>
					<div>
						@item.Description
					</div>
				</a>
			</div>
		}
	</div>
</div>

<h2>Constitution</h2>
<div class="box alt sector">
	<div class="row gtr-50 gtr-uniform">
		@foreach (var item in Model.Where(e => e.Suite == "Constitution"))
		{
			<div class="col-4" style="margin-bottom: 10px">
				<a class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@item.Name">
					<h3>@item.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@item.Alignment</h5>
					<div>
						@item.Description
					</div>
				</a>
			</div>
		}
	</div>
</div>

<h2>Intelligence</h2>
<div class="box alt sector">
	<div class="row gtr-50 gtr-uniform">
		@foreach (var item in Model.Where(e => e.Suite == "Intelligence"))
		{
			<div class="col-4" style="margin-bottom: 10px">
				<a class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@item.Name">
					<h3>@item.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@item.Alignment</h5>
					<div>
						@item.Description
					</div>
				</a>
			</div>
		}
	</div>
</div>

<h2>Wisdom</h2>
<div class="box alt sector">
	<div class="row gtr-50 gtr-uniform">
		@foreach (var item in Model.Where(e => e.Suite == "Wisdom"))
		{
			<div class="col-4" style="margin-bottom: 10px">
				<a class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@item.Name">
					<h3>@item.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@item.Alignment</h5>
					<div>
						@item.Description
					</div>
				</a>
			</div>
		}
	</div>
</div>

<h2>Charisma</h2>
<div class="box alt sector">
	<div class="row gtr-50 gtr-uniform">
		@foreach (var item in Model.Where(e => e.Suite == "Charisma"))
		{
			<div class="col-4" style="margin-bottom: 10px">
				<a class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@item.Name">
					<h3>@item.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@item.Alignment</h5>
					<div>
						@item.Description
					</div>
				</a>
			</div>
		}
	</div>
</div>