@model TraditionalHand
@{
	ViewData["Title"] = "TraditionalSpread";
}


<header id="header" style="margin-bottom: 50px">
	<a asp-controller="HarrowDeck" asp-action="TraditionalHand" class="logo"><strong>Alignment Based Harrow</strong></a>
</header>

<div class="box alt sector">
	<div class="row gtr-50 gtr-uniform">
		<div class="col-4" style="margin-bottom: 10px">
			<a id="Lawful Good" class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.LawfulGood.Name">
				<h3>@Model.LawfulGood.Name</h3>
				<span class="image fit"><img src="~/images/pic05.jpg" /></span>
				<hr style="margin-top: 5px; margin-bottom: 10px" />
				<h5 class="alignment">@Model.LawfulGood.Alignment</h5>
				<div>
					@Model.LawfulGood.Description
				</div>
				<div class="normal-description" hidden>
					@Model.LawfulGood.Description
				</div>
				<div class="inverted-description" hidden>
					@Model.LawfulGood.Description
				</div>
			</a>
		</div>
		<div class="col-4" style="margin-bottom: 10px">
			<a id="Neutral Good" class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.NeutralGood.Name">

				<h3>@Model.NeutralGood.Name</h3>
				<hr style="margin-top: 5px; margin-bottom: 10px"/>
				<h5 class="alignment">@Model.NeutralGood.Alignment</h5>
				<div>
					@Model.NeutralGood.Description
				</div>
				<div class="normal-description" hidden>
					@Model.NeutralGood.Description
				</div>
				<div class="inverted-description" hidden>
					@Model.NeutralGood.Description
				</div>
			</a>
		</div>
		<div class="col-4" style="margin-bottom: 10px">
			<a id="Chaotic Good"  class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.ChaoticGood.Name">
				<h3>@Model.ChaoticGood.Name</h3>
				<hr style="margin-top: 5px; margin-bottom: 10px" />
				<h5 class="alignment">@Model.ChaoticGood.Alignment</h5>
				<div>
					@Model.ChaoticGood.Description
				</div>
				<div class="normal-description" hidden>
					@Model.ChaoticGood.Description
				</div>
				<div class="inverted-description" hidden>
					@Model.ChaoticGood.Description
				</div>
			</a>
		</div>
		<div class="col-4" style="margin-bottom: 10px">
			<a id="Lawful Neutral" class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.LawfulNeutral.Name">
				<h3>@Model.LawfulNeutral.Name</h3>
				<hr style="margin-top: 5px; margin-bottom: 10px" />
				<h5 class="alignment">@Model.LawfulNeutral.Alignment</h5>
				<div>
					@Model.LawfulNeutral.Description
				</div>
				<div class="normal-description" hidden>
					@Model.LawfulNeutral.Description
				</div>
				<div class="inverted-description" hidden>
					@Model.LawfulNeutral.Description
				</div>
			</a>
		</div>
		<div class="col-4" style="margin-bottom: 10px">
			<a id="True Neutral" class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.TrueNeutral.Name">
				<h3>@Model.TrueNeutral.Name</h3>
				<hr style="margin-top: 5px; margin-bottom: 10px" />
				<h5 class="alignment">@Model.TrueNeutral.Alignment</h5>
				<div>
					@Model.TrueNeutral.Description
				</div>
				<div class="normal-description" hidden>
					@Model.TrueNeutral.Description
				</div>
				<div class="inverted-description" hidden>
					@Model.TrueNeutral.Description
				</div>
			</a>
		</div>
		<div class="col-4" style="margin-bottom: 10px">
			<a id="Chaotic Neutral" class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.ChaoticNeutral.Name">
				<h3>@Model.ChaoticNeutral.Name</h3>
				<hr style="margin-top: 5px; margin-bottom: 10px" />
				<h5 class="alignment">@Model.ChaoticNeutral.Alignment</h5>
				<div>
					@Model.ChaoticNeutral.Description
				</div>
				<div class="normal-description" hidden>
					@Model.ChaoticNeutral.Description
				</div>
				<div class="inverted-description" hidden>
					@Model.ChaoticNeutral.Description
				</div>
			</a>
		</div>
		<div class="col-4" style="margin-bottom: 10px">
			<a id="Lawful Evil" class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.LawfulEvil.Name">
				<h3>@Model.LawfulEvil.Name</h3>
				<hr style="margin-top: 5px; margin-bottom: 10px" />
				<h5 class="alignment">@Model.LawfulEvil.Alignment</h5>
				<div>
					@Model.LawfulEvil.Description
				</div>
				<div class="normal-description" hidden>
					@Model.LawfulEvil.Description
				</div>
				<div class="inverted-description" hidden>
					@Model.LawfulEvil.Description
				</div>
			</a>
		</div>
		<div class="col-4" style="margin-bottom: 10px">
			<a id="Neutral Evil" class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.NeutralEvil.Name">
				<h3>@Model.NeutralEvil.Name</h3>
				<hr style="margin-top: 5px; margin-bottom: 10px" />
				<h5 class="alignment">@Model.NeutralEvil.Alignment</h5>
				<div>
					@Model.NeutralEvil.Description
				</div>
				<div class="normal-description" hidden>
					@Model.NeutralEvil.Description
				</div>
				<div class="inverted-description" hidden>
					@Model.NeutralEvil.Description
				</div>
			</a>
		</div>
		<div class="col-4" style="margin-bottom: 10px">
			<a id="Chaotic Evil" class="div-link" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.ChaoticEvil.Name">
				<h3>@Model.ChaoticEvil.Name</h3>
				<hr style="margin-top: 5px; margin-bottom: 10px" />
				<h5 class="alignment">@Model.ChaoticEvil.Alignment</h5>
				<div>
					@Model.ChaoticEvil.Description
				</div>
				<div class="normal-description" hidden>
					@Model.ChaoticEvil.Description
				</div>
				<div class="inverted-description" hidden>
					@Model.ChaoticEvil.Description
				</div>
			</a>
		</div>
	</div>
</div>
