@model TraditionalHand
@{
	ViewData["Title"] = "TraditionalSpread";
}


<header id="header" style="margin-bottom: 50px">
	<a asp-controller="HarrowDeck" asp-action="TraditionalHand" class="logo"><strong>Alignment Based Harrow</strong></a>
</header>

<div class="box alt sector">
	<div class="row gtr-50 gtr-uniform">
		<div class="col-4" style="margin-bottom: 10px;">
			<div class="margin">
				<a id="Lawful Good" class="div-link place-holder" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.LawfulGood.Name">
					<h3>@Model.LawfulGood.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@Model.LawfulGood.Alignment</h5>
					<div>
						@Model.LawfulGood.Description
					</div>
					<div class="normal-description" hidden>
						@Model.LawfulGood.Description
					</div>
					<div class="inverted-description" hidden>
						@Model.LawfulGood.Description
					</div>
				</a>
			</div>
		</div>
		<div class="col-4" style="margin-bottom: 10px;">
			<div class="margin">
				<a id="Lawful Good" class="div-link place-holder" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.LawfulGood.Name">
					<h3>@Model.LawfulGood.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@Model.LawfulGood.Alignment</h5>
					<div>
						@Model.LawfulGood.Description
					</div>
					<div class="normal-description" hidden>
						@Model.LawfulGood.Description
					</div>
					<div class="inverted-description" hidden>
						@Model.LawfulGood.Description
					</div>
				</a>
			</div>
		</div>
		<div class="col-4" style="margin-bottom: 10px;">
			<div class="margin">
				<a id="Lawful Good" class="div-link place-holder" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.LawfulGood.Name">
					<h3>@Model.LawfulGood.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@Model.LawfulGood.Alignment</h5>
					<div>
						@Model.LawfulGood.Description
					</div>
					<div class="normal-description" hidden>
						@Model.LawfulGood.Description
					</div>
					<div class="inverted-description" hidden>
						@Model.LawfulGood.Description
					</div>
				</a>
			</div>
		</div>
		<div class="col-4" style="margin-bottom: 10px;">
			<div class="margin">
				<a id="Lawful Good" class="div-link place-holder" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.LawfulGood.Name">
					<h3>@Model.LawfulGood.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@Model.LawfulGood.Alignment</h5>
					<div>
						@Model.LawfulGood.Description
					</div>
					<div class="normal-description" hidden>
						@Model.LawfulGood.Description
					</div>
					<div class="inverted-description" hidden>
						@Model.LawfulGood.Description
					</div>
				</a>
			</div>
		</div>
		<div class="col-4" style="margin-bottom: 10px;">
			<div class="margin">
				<a id="Lawful Good" class="div-link place-holder" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.LawfulGood.Name">
					<h3>@Model.LawfulGood.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@Model.LawfulGood.Alignment</h5>
					<div>
						@Model.LawfulGood.Description
					</div>
					<div class="normal-description" hidden>
						@Model.LawfulGood.Description
					</div>
					<div class="inverted-description" hidden>
						@Model.LawfulGood.Description
					</div>
				</a>
			</div>
		</div>
		<div class="col-4" style="margin-bottom: 10px;">
			<div class="margin">
				<a id="Lawful Good" class="div-link place-holder" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.LawfulGood.Name">
					<h3>@Model.LawfulGood.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@Model.LawfulGood.Alignment</h5>
					<div>
						@Model.LawfulGood.Description
					</div>
					<div class="normal-description" hidden>
						@Model.LawfulGood.Description
					</div>
					<div class="inverted-description" hidden>
						@Model.LawfulGood.Description
					</div>
				</a>
			</div>
		</div>
		<div class="col-4" style="margin-bottom: 10px;">
			<div class="margin">
				<a id="Lawful Good" class="div-link place-holder" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.LawfulGood.Name">
					<h3>@Model.LawfulGood.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@Model.LawfulGood.Alignment</h5>
					<div>
						@Model.LawfulGood.Description
					</div>
					<div class="normal-description" hidden>
						@Model.LawfulGood.Description
					</div>
					<div class="inverted-description" hidden>
						@Model.LawfulGood.Description
					</div>
				</a>
			</div>
		</div>
		<div class="col-4" style="margin-bottom: 10px;">
			<div class="margin">
				<a id="Lawful Good" class="div-link place-holder" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.LawfulGood.Name">
					<h3>@Model.LawfulGood.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@Model.LawfulGood.Alignment</h5>
					<div>
						@Model.LawfulGood.Description
					</div>
					<div class="normal-description" hidden>
						@Model.LawfulGood.Description
					</div>
					<div class="inverted-description" hidden>
						@Model.LawfulGood.Description
					</div>
				</a>
			</div>
		</div>
		<div class="col-4" style="margin-bottom: 10px;">
			<div class="margin">
				<a id="Lawful Good" class="div-link place-holder" asp-controller="HarrowDeck" asp-action="Details" asp-route-name="@Model.LawfulGood.Name">
					<h3>@Model.LawfulGood.Name</h3>
					<hr style="margin-top: 5px; margin-bottom: 10px" />
					<h5 class="alignment">@Model.LawfulGood.Alignment</h5>
					<div>
						@Model.LawfulGood.Description
					</div>
					<div class="normal-description" hidden>
						@Model.LawfulGood.Description
					</div>
					<div class="inverted-description" hidden>
						@Model.LawfulGood.Description
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script>
	var placeHolders = $('.place-holder');
	for (var i = 0; i < placeHolders.length; i++) {
		var place = placeHolders[i];
		var alignment = place.id;
		var card = $(alignment).find('.alignment');

		//var cardAlignment = card.innerHTML();

		if (i/2 > 4) {
			place.addClass("rightside");
		}
	}
</script>